body{font-family: 'Lobster', cursive;
	background-image: url(../img/fondo2.jpg);
            background-size: cover;
                background-repeat: no-repeat;
}
#botonera_principal{
	width:auto;
	height: 70px;
	background-color: white;
	align-self: start;
}

nav ul{
	list-style: none;
	margin:0;
	padding: 0;
}

nav ul li{
	display: inline-block;/* Lo muestro uno al lado del otro  */

	text-shadow: 0px 1px #FFF;
	border-radius: 5px;

}

nav ul li a, label{
	color: #999;
	text-decoration: none; 
	display: block;
	padding: 26px 21px;	       
	font-family: Arial, Helvetica , sans-serif;
}

nav ul li a:hover{
	color: #000;
	background-color: red;
}

#demo{
    float: left;
}
h1{
    text-align: center;
    width: 100%;
}
.pie{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
	justify-content: space-between;
	color: wheat;
    
}
main{ display: flex;
    flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-around;}
h4{
	color: white;
}
.min{color: wheat;}
.img3{
    size: cover;
}
aside{
    width: 30%;
   
}
.translacion {

	transform:rotate(10deg) ;
	}